<!-- <?php
if(!empty($_GET['search_query']{
    $video_url='https://www.googleapis.com/youtube/v3/json?results?search_query=' . $_GET['search_query'];

}
?> -->











<!DOCTYPE html>
<html>
<head>
<title>Coding Resource Manager</title>
<meta name="YOUTUBE" content="NOINDEX, NOFOLLOW" />
<!-- CSS styles for standard search box -->
<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
		<form id="tfnewsearch" method="POST" action="/search">
		        <input type="text" class="tftextinput" name="search_query" size="21" maxlength="120"><input type="submit" value="search YouTube" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div>
	{{ body }}
</body>
</html>
